html {
  background-color: rgb(62, 62, 62);
  margin: 0;
}

body {
  margin: 0%;
  background-color: rgb(62, 62, 62);
}

.parent {
  position: relative;
  width: 100%;
  height: 100%;
}
.child {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
}

.divdiv {
  position: absolute;
  top: 0%;
}

img.logo-center {
  width: 180px;
  height: 180px;
}